/* Adding fonts */

@font-face {
  font-family: PhonkSans;
  src: url("/fonts/PhonkSans-Light.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

/* Variables */

:root {
  /* Colors */
  --col-bg-dark: #1f1f1f;
  --col-bg-dark-cards: #272727;
  --col-button-blue-grad: linear-gradient(
    222deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-button-blue-grad-hover: linear-gradient(
    41deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-white-grad: linear-gradient(
    337deg,
    #fff 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  --col-white: #fff;

  /* Fonts */
  --font-title: PhonkSans, sans-serif;
  --font-text: Inter, sans-serif;
}

/* Common elements styles */

body {
  background-color: var(--col-bg-dark);
}

h1,
p,
.social-media-links a,
.footer .help-ua a {
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.6;
}

h2,
h3 {
  background: var(--col-white-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: var(--font-title);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0.48px;
}

h3 {
  font-family: var(--font-title);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.32px;
}

h4 {
  font-family: var(--font-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.48px;

  color: var(--col-white);
  opacity: 0.9;
}

hr {
  width: 100%;
  height: 2px;

  background: var(--col-white-grad);
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: var(--col-white);
}

.container {
  max-width: 1280px;
}

.skills-screen,
.contact-screen {
  padding-top: 100px;
  padding-bottom: 40px;
}

.btn-main {
  position: relative;
  padding: 20px 40px;
  margin: 2px;
  background-color: var(--col-bg-dark);
  border-radius: 56px;

  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.9;

  transition: all 200ms ease-in-out;
}

.btn-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  margin: -2px;
  border-radius: inherit;
  background-image: var(--col-button-blue-grad);
}

.btn-main:hover::after {
  background-image: var(--col-button-blue-grad-hover);
}

/* Footer */

.footer {
  padding-bottom: 40px;
}

.footer hr {
  margin: 0 0 40px;
}

.footer p {
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-bottom: 0;
}

.footer .help-ua {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 4px;
}

.footer .help-ua a {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;

  text-decoration: var(--col-white) solid underline 1px;
  text-underline-offset: 2px;
}

.footer .help-ua a:hover {
  text-decoration: var(--col-white) solid underline 1px;
  text-underline-offset: 8px;

  opacity: 0.6;
}

/* Homepage Main screen styles */

.main-screen {
  padding-top: 116px;
  padding-bottom: 128px;
}

.greeting {
  display: flex;
  margin-bottom: 48px;
}

.greeting img {
  width: 64px;
  height: 64px;
  transition: all 200ms ease-in-out;
}

.greeting img:hover {
  content: url("/img/avatar-color.png");
}

.greeting div {
  margin-left: 24px;
}

.greeting div h4,
.greeting div p {
  margin: 2px 0;
}

.main-row-btn {
  margin-top: 48px;
}

/* Homepage Decorative image styles */

.deco-img-main {
  width: auto;
  opacity: 0.6;
}

/* Homepage Skills screen styles */

.btn-projects {
  text-align: end;
}

.skill-cards {
  margin-top: 40px;
}

.skill-card {
  max-width: 298px;
  height: 400px;
  margin: 20px auto 0;
  padding: 119px 32px 32px;

  border-radius: 8px;
  border: rgb(255, 255, 255, 0.03) solid 1px;
  background: var(--col-bg-dark-cards);
}

.skill-card h4 {
  margin-bottom: 16px;
}

.skill-card hr {
  margin: 24px auto;
}

.tool-icons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

/* Homepage Contacts screen styles */

.contact-screen h3,
.contact-screen p {
  margin-left: 0;
  padding-left: 0;
}

.contact-screen p {
  margin: 32px 0;
  max-width: 298px;
}

.contact-img {
  max-width: 705px;
  opacity: 0.8;
  float: right;
}

.mail-link h4 {
  margin-bottom: 0;
  font-weight: 400;
  opacity: 0.85;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.social-media-links a {
  opacity: 0.8;
}

.mail-link:hover,
.social-media-links a:hover {
  text-decoration: var(--col-white) solid underline 1.5px;
  text-underline-offset: 12px;

  opacity: 0.6;
}
