/* Adding fonts */

@font-face {
  font-family: PhonkSans;
  src: url("/fonts/PhonkSans-Light.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

/* Variables */

:root {
  /* Colors */
  --col-bg-dark: #1f1f1f;
  --col-button-blue-grad: linear-gradient(
    222deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-button-blue-grad-hover: linear-gradient(
    41deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-white-grad: linear-gradient(
    337deg,
    #fff 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  --col-white: #fff;

  /* Fonts */
  --font-title: PhonkSans, sans-serif;
  --font-text: Inter, sans-serif;
}

body {
  background-color: var(--col-bg-dark);
}

h1,
p {
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.6;
}

h2 {
  font-family: var(--font-title);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0.48px;

  background: var(--col-white-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-family: var(--font-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.48px;

  color: var(--col-white);
  opacity: 0.9;
}

.container {
  max-width: 1280px;
}

.main-screen {
  padding-top: 116px;
  padding-bottom: 128px;
}

.greeting {
  display: flex;
  margin-bottom: 48px;
}

.greeting img {
  width: 64px;
  height: 64px;
  transition: all 200ms ease-in-out;
}

.greeting img:hover {
  content: url("/img/avatar-color.png");
}

.greeting div {
  margin-left: 24px;
}

.greeting div h4,
.greeting div p {
  margin: 2px 0;
}

.main-row-btn {
  margin-top: 48px;
}

.btn-main {
  position: relative;
  padding: 20px 40px;
  margin: 2px;
  background-color: var(--col-bg-dark);
  border-radius: 56px;

  text-decoration: none;
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.9;

  transition: all 200ms ease-in-out;
}

.btn-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  margin: -2px;
  border-radius: inherit;
  background-image: var(--col-button-blue-grad);
}

.btn-main:hover::after {
  background-image: var(--col-button-blue-grad-hover);
}

.deco-img-main {
  width: 1440px;
  height: 200px;
  opacity: 0.6;
}
