/* Adding fonts */

@font-face {
  font-family: PhonkSans;
  src: url("/fonts/PhonkSans-Light.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

/* Variables */

:root {
  /* Colors */
  --col-bg-dark: #1f1f1f;
  --col-bg-dark-cards: #272727;
  --col-button-blue-grad: linear-gradient(
    222deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-button-blue-grad-hover: linear-gradient(
    41deg,
    #000aff 0%,
    rgba(85, 92, 241, 0.22) 100%
  );
  --col-white-grad: linear-gradient(
    337deg,
    #fff 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  --col-white: #fff;

  /* Fonts */
  --font-title: PhonkSans, sans-serif;
  --font-text: Inter, sans-serif;

  /* Shadows */
  --shadow-blue-big: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(16, 15, 74, 0.06),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(16, 15, 74, 0.09),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(16, 15, 74, 0.11),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(16, 15, 74, 0.13),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(16, 15, 74, 0.16),
    0px 100px 80px 0px rgba(16, 15, 74, 0.22);
  --shadow-blue-small: 0px 12.5px 10.02px 0px rgba(16, 15, 74, 0.08),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(16, 15, 74, 0.13);
}

/* Common elements styles */

body {
  background-color: var(--col-bg-dark);
  background-image: url("/img/bg_pattern.png");
}

h1,
p,
.social-media-links a,
.footer .help-ua a {
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.6;
}

h2,
h3 {
  background: var(--col-white-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: var(--font-title);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0.48px;
}

h3 {
  font-family: var(--font-title);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.32px;
}

h4 {
  font-family: var(--font-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.48px;

  color: var(--col-white);
  opacity: 0.9;
}

hr {
  width: 100%;
  height: 2px;

  background: var(--col-white-grad);
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: var(--col-white);
}

.skills-screen,
.contact-screen {
  padding-top: 100px;
  padding-bottom: 40px;
}

.btn-main {
  position: relative;
  padding: 20px 40px;
  margin: 2px;
  background-color: var(--col-bg-dark);
  border-radius: 56px;

  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
  opacity: 0.9;

  transition: all 200ms ease-in-out;
}

.btn-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  margin: -2px;
  border-radius: inherit;
  background-image: var(--col-button-blue-grad);
}

.btn-main:hover::after {
  background-image: var(--col-button-blue-grad-hover);
}

.mail-link:hover,
.social-media-links a:hover,
.nav-link:hover {
  text-decoration: var(--col-white) solid underline 1.5px;
  text-underline-offset: 12px;

  color: var(--col-white);
  opacity: 0.6;
}

/* Header */

.navbar-brand,
.navbar-collapse {
  padding: 10px;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--col-white);
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  gap: 21px;
}

.nav-link {
  color: var(--col-white);
  opacity: 0.7;
}

.active {
  background-color: transparent;
  opacity: 0.95;
}

.scrolling {
  padding: 0;
  background-color: var(--col-bg-dark);
  border-bottom: rgb(255, 255, 255, 0.03) solid 1px;

  box-shadow: var(--shadow-blue-small);
}

/* Contacts screen styles */

.contact-screen h3,
.contact-screen p {
  margin-left: 0;
  padding-left: 0;
}

.contact-screen p {
  margin: 32px 0;
  max-width: 298px;
}

.contact-img {
  max-width: 705px;
  opacity: 0.8;
  float: right;
}

.mail-link h4 {
  margin-bottom: 0;
  font-weight: 400;
  opacity: 0.85;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.social-media-links a {
  opacity: 0.8;
}

/* Footer */

.footer {
  padding-bottom: 40px;
}

.footer hr {
  margin: 0 0 40px;
}

.footer p {
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-bottom: 0;
}

.footer .help-ua {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 4px;
}

.footer .help-ua a {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;

  text-decoration: var(--col-white) solid underline 1px;
  text-underline-offset: 2px;
}

.footer .help-ua a:hover {
  text-decoration: var(--col-white) solid underline 1px;
  text-underline-offset: 8px;

  opacity: 0.6;
}

/* Homepage Main screen styles */

.main-screen {
  padding-top: 116px;
  padding-bottom: 128px;
}

.greeting {
  display: flex;
  margin-bottom: 48px;
}

.greeting img {
  width: 64px;
  height: 64px;
  transition: all 200ms ease-in-out;
}

.greeting img:hover {
  content: url("/img/avatar-color.png");
}

.greeting div {
  margin-left: 24px;
}

.greeting div h4,
.greeting div p {
  margin: 2px 0;
}

.main-row-btn {
  margin-top: 48px;
}

/* Homepage Decorative image styles */

.deco-img-main {
  width: auto;
  opacity: 0.6;
}

/* Homepage Skills screen styles */

.btn-projects {
  text-align: end;
}

.skill-cards {
  margin-top: 40px;
  gap: 24px;
}

.skill-card {
  margin: 20px auto 0;
  padding: 119px 32px 32px;

  border-radius: 8px;
  border: rgb(255, 255, 255, 0.03) solid 1px;
  background: var(--col-bg-dark-cards);
}

.skill-card h4 {
  margin-bottom: 16px;
}

.skill-card hr {
  margin: 24px auto;
}

.tool-icons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

/* About me page screen */

.about-me {
  padding-top: 100px;
  padding-bottom: 40px;
}

.about-me img {
  width: 437px;
  transition: all 200ms ease-in-out;
}

.about-me img:hover {
  content: url("/img/about-photo-color.png");
}

.about-me h2 {
  margin-bottom: 60px;
}

.about-me p {
  margin-top: 40px;
}

/* Responsive notes */

@media (min-width: 576px) and (max-width: 992px) {
  .skill-card {
    padding-top: 80px;
  }

  .contact-screen {
    padding-top: 50px;
  }

  .contact-img {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }

  .mail-link {
    padding-left: 0;
  }

  .social-media-links {
    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 0;
  }

  .footer .row div {
    padding-left: 0;
  }

  .footer .help-ua {
    justify-content: start;
    margin-top: 10px;
  }

  .about-me {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .about-me img {
    width: 100%;
    margin-bottom: 60px;
  }

  .about-me h2 {
    margin-bottom: 40px;
  }

  .about-me p {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .main-screen {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .greeting {
    flex-direction: column;
    margin-bottom: 32px;
    width: 330px;
  }

  .greeting div {
    margin-left: 0;
  }

  .greeting div h4 {
    margin-top: 20px;
  }

  .btn-projects {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: start;
  }

  .skill-cards {
    width: 335px;
  }

  .skill-card {
    margin: 0;
  }

  .skills-screen,
  .contact-screen {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .contact-img {
    width: 100%;
    float: none;
    margin-bottom: 60px;
  }

  .mail-link {
    padding-left: 0;
  }

  .social-media-links {
    justify-content: flex-start;
    margin-top: 32px;
    padding-left: 0;
    gap: 16px;
  }

  .footer .row div {
    width: 90%;
    padding-left: 0;
  }

  .footer .help-ua {
    justify-content: start;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .about-me {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 0;
  }

  .about-me .row {
    padding: 0;
  }

  .about-me img {
    margin-bottom: 60px;
  }

  .about-me h2 {
    margin-bottom: 40px;
  }

  .about-me p {
    margin-top: 30px;
  }
}
